# Global
/node_modules
.env
.DS_Store
*.log

# Backend (NestJS)
/meme_generator_backend/node_modules
/meme_generator_backend/dist
/meme_generator_backend/.env

# Frontend (React)
/meme_generator_frontend/node_modules
/meme_generator_frontend/build
/meme_generator_frontend/.env.local
/meme_generator_frontend/.env.development.local
/meme_generator_frontend/.env.test.local
/meme_generator_frontend/.env.production.local

# Coverage
coverage/

# IDE configs
.vscode/
.idea/